
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 15px;
    font-weight: bold;
}

.nav-links .active {
    color: red;
}

#dark-mode-toggle {
    background: yellow;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.work-detail-container {
    width: 60%;
    margin: auto;
    padding: 40px 0;
}

h1 {
    font-size: 32px;
    font-weight: bold;
}

h2 {
    font-size: 28px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

.work-meta {
    font-size: 14px;
    color: gray;
}

.year {
    background: black;
    color: white;
    padding: 3px 7px;
    border-radius: 5px;
    font-weight: bold;
}

.work-detail-container img {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f8f8f8;
    margin-top: 30px;
}

body.dark-mode .social-icons img {
    filter: brightness(0) invert(1);
}

.social-icons img {
    width: 30px;
    margin: 5px;
}

/* Modo oscuro */
.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}

.dark-mode header,
.dark-mode footer {
    background-color: #333;
}

body.dark-mode .nav-links a {
    color: white;
}

body.dark-mode .nav-links a.active {
    color: red;
}

.dark-mode .work-meta {
    color: #bbb;
}
